<section class="certifications">
  <div class="wrapper">
    <div class="certifications__inner">
      <h5 class="certifications__title">Мои сертификаты</h5>
      <div class="swiper certifications__slider">
        <div class="slider__slider swiper-wrapper">
          <div class="slider__certifications swiper-slide">
            <img src="../img/general/cert1.png" alt="">
          </div>

          <div class="slider__certifications swiper-slide">
            <img src="../img/general/cert2.png" alt="">
          </div>

          <div class="slider__certifications swiper-slide">
            <img src="../img/general/cert3.png" alt="">
          </div>

          <div class="slider__certifications swiper-slide">
            <img src="../img/general/cert4.png" alt="">
          </div>
          <div class="slider__certifications swiper-slide">
            <img src="../img/general/cert5.png" alt="">
          </div>
        </div>
        <div class="swiper-pagination"></div>
      </div>
    </div>
  </div>
</section>