<section class="familiarity">
  <div class="wrapper">
    <div class="familiarity__inner">
      <h2 class="familiarity__title">давайте знакомиться</h2>
      <div class="familiarity__right">
        <div class="familiarity__right_info">
          <p class="familiarity__right-text">
            Поздравляю! Меня зовут Елена. Я косметолог с большим опытом, направленным на уникальный подход к лечению
            кожи
            и подбору
            косметики и уходу. Мое призвание – помогать людям заботиться об их коже правильно и максимально эффективно.
          </p>

          <p class="familiarity__right-text familiarity__mob">
            Также, я специализируюсь на мезотерапии, где каждая процедура – ​​это особый путь к вашей красоте. С помощью
            высококачественных процедур ухода и уникальной мезотерапии я помогаю восстановить сияющий вид лица и
            здоровые
            волосы.
          </p>
        </div>

        <div class="familiarity__img-right">
          <img loading="lazy" src="../img/general/fam-one.jpg" alt="фото обработки лица">
        </div>
        <p class="familiarity__right-mob">
          Также, я специализируюсь на мезотерапии, где каждая процедура – ​​это особый путь к вашей красоте. С помощью
          высококачественных процедур ухода и уникальной мезотерапии я помогаю восстановить сияющий вид лица и
          здоровые
          волосы.
        </p>
      </div>
      <div class="familiarity__left">
        <div class="familiarity__img-left">
          <img loading="lazy" src="../img/general/fam-two.jpg" alt="фото обработки лица">
        </div>
        <div class="familiarity__left-text">
          <p>
            Я предоставляю профессиональную консультацию по подбору косметических продуктов, анализируя их химический
            состав и
            помогаю выбрать идеальный уход для каждого типа кожи. Мой опыт в области косметики позволяет давать
            индивидуальные
            рекомендации и находить эффективные решения для каждого клиента.
          </p>
          <p>
            Каждый может иметь кровяную и здоровую кожу, и я готова помочь вам достичь этой цели.
          </p>
        </div>

      </div>
      <a href="#" class="familiarity__btn btn">Записаться</a>
    </div>
  </div>
</section>