<section class="feetback">
  <div class="wrapper">
    <div class="feetback__inner">
      <h4 class="feetback__title">Отзывы обо мне</h4>
      <div class="swiper feetback__slider">
        <div class="slider__slider swiper-wrapper">
          <div class="slider__feetback swiper-slide">
            <img src="../img/general/review1.jpg" alt="відкуг">
          </div>

          <div class="slider__feetback swiper-slide">
            <img src="../img/general/review2.jpg" alt="відкуг">
          </div>

          <div class="slider__feetback swiper-slide">
            <img src="../img/general/review3.jpg" alt="відкуг">
          </div>

          <div class="slider__feetback swiper-slide">
            <img src="../img/general/review4.jpg" alt="відкуг">
            <img src="../img/general/review5.jpg" alt="відкуг">
          </div>
        </div>
        <div class="swiper-pagination"></div>
      </div>
      <ul class="feetback__list">
        <li class="feetback__item">
          <img src="../img/general/review1.jpg" alt="img slider">
        </li>
        <li class="feetback__item">
          <img src="../img/general/review2.jpg" alt="img slider">
        </li>
        <li class="feetback__item">
          <img src="../img/general/review3.jpg" alt="img slider">
        </li>
        <li class="feetback__item feetback__last">
          <img src="../img/general/review5.jpg" alt="img slider">
          <img src="../img/general/review4.jpg" alt="img slider">
        </li>
      </ul>
    </div>
  </div>
</section>