</main>

<footer class="footer">
	<div class="wrapper">
		<div class="footer__inner">
			<div class="footer__main">
				<ul class="footer__list">
					<li class="footer__item"><a href="#" class="footer__item-link">Обо мне</a></li>
					<li class="footer__item"><a href="#" class="footer__item-link">Услуги и цены</a></li>
					<li class="footer__item"><a href="#" class="footer__item-link">Отзывы</a></li>
					<li class="footer__item"><a href="#" class="footer__item-link">Сертификаты</a></li>
				</ul>
				<div class="footer__logo">
					<div class="footer__logo-icon">
						<svg class="footer__logo_pc" height="53" width="149">
							<use href="../img/icons/sprite.svg#icon-header-logo"></use>
						</svg>
					</div>

				</div>
				<address class="footer__contacts">
					<ul class="footer__social">
						<li class="footer__social-item">
							<a href="#" class="footer__social-link">
								<svg class="footer__social-icon" height="25" width="25">
									<use href="../img/icons/sprite.svg#icon-inst-icon"></use>
								</svg>
							</a>
						</li>
						<li class="footer__social-item">
							<a href="#" class="footer__social-link">
								<svg class="footer__social-icon" height="25" width="25">
									<use href="../img/icons/sprite.svg#icon-whats-icon"></use>
								</svg>
							</a>
						</li>
						<li class="footer__social-item">
							<a href="#" class="footer__social-link">
								<svg class="footer__social-icon" height="25" width="25">
									<use href="../img/icons/sprite.svg#icon-facebook-icon"></use>
								</svg>
							</a>
						</li>
					</ul>
					<ul class="footer__contacts-list">
						<li class="footer__contacts-item">
							<a href="tel:+420123456789">
								<span>+420 123 456 789</span>
								<svg class="footer__social-icon" height="24" width="24">
									<use href="../img/icons/sprite.svg#icon-phone-icon"></use>
								</svg>
							</a>
						</li>
						<li class="footer__contacts-item">
							<a href="mailto:okolojcfkdd@gmail.com">
								<span>okolojcfkdd@gmail.com</span>
								<svg class="footer__social-icon" height="24" width="24">
									<use href="../img/icons/sprite.svg#icon-mail-icon"></use>
								</svg>
							</a>
						</li>
						<li class="footer__contacts-item">
							<a href="#">
								<span>Patočkova 2386/23,Praha 6</span>
								<svg class="footer__social-icon" height="24" width="24">
									<use href="../img/icons/sprite.svg#icon-map-icon"></use>
								</svg>
							</a>
						</li>
					</ul>
				</address>
			</div>
			<p class="footer__copyright">
				© 2023 Косметологічний кабінет у Празі. Всі права захищені.
			</p>
		</div>
	</div>
</footer>
<div class="mobile__menu hide__menu">
	<button class="mobile__cross">
		<svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
			<path
				d="M1.01015 18L0 16.9899L7.98985 9L0 1.01015L1.01015 0L9 7.98985L16.9899 0L18 1.01015L10.0101 9L18 16.9899L16.9899 18L9 10.0101L1.01015 18Z"
				fill="#FAFAFA" />
		</svg>
	</button>
	<ul class="mobile__list">
		<li><a href="#">Про мене</a></li>
		<li><a href="#">Послуги та ціни</a></li>
		<li><a href="#">Відгуки</a></li>
		<li><a href="#">Сертифікати</a></li>
	</ul>


</div>