<section class="form">

  <div class="form__inner">
    <div class="wrapper">
      <h6 class="form__title">Свяжитесь со мной</h6>
    </div>
    <div class="form__text-form">
      <div class="form__text-wrapper">
        <div class="wrapper">
          <p class="form__text">
            Если у вас есть вопросы, желание запланировать консультацию или записать на процедуру, пожалуйста, заполните
            эту
            форму.
            Я отвечу вам как можно скорее.
          </p>
        </div>
      </div>
      <div class="form__form-wrapper">
        <div class="wrapper">
          <from class="form__request">
            <label class="form__label">
              <span>Имя</span>
              <input type="text" name="username">
            </label>
            <label class="form__label">
              <span>Телефон</span>
              <input type="text" name="userphone">
            </label>
            <label class="form__label form__last-label">
              <span>Сообщение</span>
              <input type="text" name="usertext">
            </label>
            <input type="submit" value="Отправить" class="btn form__submit">
          </from>
        </div>
      </div>
    </div>
  </div>
</section>