<section class="hero">
  <div class="wrapper">
    <div class="hero__inner">
      <div class="hero__helen">
        <div class="hero__img">
          <img loading="lazy" src="../img/general/helen-hero.jpg" alt="helen">
        </div>
        <div class="hero__info">
          <h1 class="hero__title">Красота за пределами глаз</h1>

          <p class="hero__text">
            Персонализированные процедуры для лица и волос в Праге
          </p>
          <button class="hero__btn">записаться</button>
        </div>
      </div>
      <div class="hero__slogan">
        <div class="hero__slogan-img">
          <img src="../img/general/hero-second.jpg" alt="helen">
        </div>

        <p class="hero__slogan-text">
          Доверьте свою красоту профессионалу, который обретет уникальный подход для решения вашей проблемы
        </p>
      </div>

    </div>
  </div>
</section>