<section class="instagram">
  <div class="wrapper">
    <div class="instagram__inner">
      <h6 class="instagram__title">Мой instagram</h6>
      <div class="instagram__wrapper">
        <div class="instagram__qr">
          <img loading="lazy" src="../img/icons/qr-code.svg" alt="qr код">
          <p class="instagram__text">
            Больше полезной информации о косметической продукции и уходе за кожей ищите Вы можете найти на моей странице
            в
            instagram. Подписывайтесь!
          </p>
        </div>
        <ul class="instagram__list">
          <li class="instagram__item">
            <img loading="lazy" src="../img/general/inst1.jpg" alt="Фото работы с инстаграмма">
          </li>
          <li class="instagram__item">
            <img loading="lazy" src="../img/general/inst2.jpg" alt="Фото работы с инстаграмма">
          </li>
          <li class="instagram__item">
            <img loading="lazy" src="../img/general/inst3.jpg" alt="Фото работы с инстаграмма">
          </li>
          <li class="instagram__item">
            <img loading="lazy" src="../img/general/inst4.jpg" alt="Фото работы с инстаграмма">
          </li>
          <li class="instagram__item">
            <img loading="lazy" src="../img/general/inst5.jpg" alt="Фото работы с инстаграмма">
          </li>
          <li class="instagram__item">
            <img loading="lazy" src="../img/general/inst6.jpg" alt="Фото работы с инстаграмма">
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>