<section class="price">
  <div class="wrapper">
    <div class="price__inner">
      <h3 class="price__title">услуги и цены</h3>
      <ul class="price__list">
        <li class="price__item">
          <div class="price__headline">
            <p>Комбинированная чистка лица "Fresh" + маска + массаж</p>
            <div class="price__item-icon">
              <img src="../img/icons/arrow-up.svg" class="price__arrow-icon" height="40" width="40" alt="arrow up">
            </div>
          </div>
          <p class="price__text price__hidden">
            Комбинированная чистка лица "Fresh" – это сочетание очищения, питательной маски и расслабляющего массажа,
            которое
            приводит к обновлению и освежению вашей кожи. Очистка подчеркивается питающей и успокаивающей маской,
            завершаясь
            расслабляющим массажем, который делает вашу кожу сияющей и восстановленной.
          </p>
        </li>
        <li class="price__item">
          <div class="price__headline">
            <p>"Relax" снятия макияжа + пилинг + маска + массаж</p>
            <div class="price__item-icon">
              <img src="../img/icons/arrow-up.svg" class="price__arrow-icon" height="40" width="40" alt="arrow up">
            </div>
          </div>
          <p class="price__text price__hidden">
            Это сочетание снятия макияжа, пилинга, нанесения маски и массажа, которые обеспечивают вашей коже
            расслабление,
            освежение и восстановление. Эта услуга включает удаление макияжа, проведение пилинга, нанесение увлажняющей
            маски и
            завершается расслабляющим массажем, подарив вашей коже ощущение умиротворения и восстановления.
          </p>
        </li>
        <li class="price__item">
          <div class="price__headline">
            <p>Процедура против усталости и плохого настроения SOS массаж головы + маска</p>
            <div class="price__item-icon">
              <img src="../img/icons/arrow-up.svg" class="price__arrow-icon" height="40" width="40" alt="arrow up">
            </div>
          </div>
          <p class="price__text price__hidden">
            Процедура "SOS" - это специальный массаж головы, сопровождаемый маской, направленный на борьбу с усталостью
            и плохим
            настроением. Эта процедура обеспечивает расслабление, улучшение самочувствия и восстановление энергии
            благодаря массажу
            головы и ухаживающей маске.
          </p>
        </li>
        <li class="price__item">
          <div class="price__headline">
            <p>Микронидоинг (микроигольчатая мезотерапия)</p>
            <div class="price__item-icon">
              <img src="../img/icons/arrow-up.svg" class="price__arrow-icon" height="40" width="40" alt="arrow up">
            </div>
          </div>
          <p class="price__text price__hidden">
            Микронидлинг (микроигольчатая мезотерапия) - это инновационная процедура, которая использует мельчайшие иглы
            для
            аккуратного воздействия на кожу лица. Она способствует стимуляции естественного процесса восстановления
            кожи, улучшает
            текстуру и тонус кожи, а также снижает видимость морщин, рубцов и пигментации. Эта безопасная и эффективная
            техника
            помогает достичь молодого и свежего вида кожи.
          </p>
        </li>
        <li class="price__item">
          <div class="price__headline">
            <p>Микронидлинг кожи головы + мезоктейль</p>
            <div class="price__item-icon">
              <img src="../img/icons/arrow-up.svg" class="price__arrow-icon" height="40" width="40" alt="arrow up">
            </div>
          </div>
          <p class="price__text price__hidden">Микронидлинг кожи головы с мезококтейлем - это инновационная процедура,
            которая использует мельчайшие иглы
            для
            стимуляции роста волос и укрепления фолликулов. Она помогает улучшить качество кожи головы, стимулирует
            естественный
            процесс роста волос и повышает эффективность проникновения активных веществ, способствуя здоровью и красоте
            волос.</p>
        </li>
        <li class="price__item">
          <div class="price__headline">
            <p>Супер пилинг и чистка "Anti akne" + маска + легкий массаж</p>
            <div class="price__item-icon">
              <img src="../img/icons/arrow-up.svg" class="price__arrow-icon" height="40" width="40" alt="arrow up">
            </div>
          </div>
          <p class="price__text price__hidden">
            "Anti Akne" - это высокоэффективный супер-пилинг и профессиональная чистка, специально разработанные для
            борьбы с
            проблемами кожи, связанными с акне. После процедуры наносится специальная маска, которая улучшает состояние
            кожи, а
            легкий массаж дополняет эффект, обеспечивая ощущение расслабления и ухода. Эта комплексная процедура
            помогает бороться с
            акне и улучшает общее состояние кожи.
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>