@import "../core";

.example {
	.container {

		&>h2,
		&>h3,
		&>p {
			margin: 3.5rem 0;
		}
	}

	h2 {
		max-width: 80rem;
	}

	p {
		max-width: 60rem;
	}

	&__item {
		background: #fff;
		border-radius: .8rem;
		overflow: hidden;
		box-shadow: 0 .2rem .4rem 0 rgb(32 35 51 / 2%), 0 .1rem .1rem 0 rgb(32 35 51 / 4%);

		&-img {
			display: flex;
			align-items: center;
			justify-content: center;
			max-height: 30rem;
			overflow: hidden;

			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}

		&-wrap {
			@include adaptiv-value("padding", 20, 10, 1);
		}

		&-title {
			font-size: 2.2rem;
			font-weight: bold;
		}

		&-title+&-descr {
			margin-top: 0.8rem;
		}

		&-descr {
			color: rgb(46, 46, 46);
		}
	}

	&__bttn {
		margin-top: 2rem;
	}
}

section {
	h2, p {
		max-width: 60rem;
	}

	p {
		margin: 2rem 0; 
	}

	.video-frame {
		max-width: 80rem;
	}
}

main section:nth-child(odd) {
	background-color: #F3F3F2;
}