@import "../core";

.familiarity {
  padding-top: 20px;
  padding-bottom: 20px;

  @include minw($mob-custom) {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  @include minw($lg-custom) {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  &__title {
    margin-bottom: 20px;
    font-family: Alice;
    font-size: 20px;
    line-height: 1.4;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.04em;
    font-weight: 400;

    @include minw($mob-custom) {
      margin-bottom: 24px;
      font-size: 32px;
    }

    @include minw($lg-custom) {
      margin-bottom: 60px;
      font-size: 35px;
    }
  }

  &__right,
  &__left {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-family: SfProRounded, sans-serif;
  }

  &__right {
    @include minw($lg-custom) {
      flex-direction: row;
      justify-content: space-between;
      gap: 40px;
    }
  }

  &__right-mob {
    @include minw($mob-custom) {
      display: none;
    }
  }

  &__mob {
    display: none;

    @include minw($mob-custom) {
      display: block;


    }
  }

  &__right_info {
    display: flex;
    flex-direction: column;
    gap: 25px;

    p {
      font-family: SfProRounded, sans-serif;
      font-size: 18px;
      font-weight: 400;
      line-height: 1.4;
      color: $colorText;


    }

    @include minw($lg-custom) {
      max-width: 580px;
      gap: 50px;


    }
  }

  &__left-text {
    @include minw($mob-custom) {
      max-width: 292px;
      display: flex;
      flex-direction: column;
      gap: 50px;
    }

    @include minw($lg-custom) {
      max-width: 580px;

      p {
        font-size: 18px;
      }

      &:last-child {
        margin-bottom: 40px;
      }
    }

  }

  &__img-left {
    margin-bottom: 20px;
    display: flex;
    justify-content: end;

    @include minw($mob-custom) {
      margin-bottom: 0;
      margin-top: 16px;
      flex-shrink: 0;
      max-width: 276px;
    }

    @include minw($lg-custom) {
      margin-left: 20px;
      max-width: 345px;
    }

    &:before {
      content: '';
      display: block;
      position: absolute;
      border: 1px solid $colorText;
      width: 346px;
      height: 453px;
      top: 20px;
      left: 0;

      @include minw($mob-custom) {
        top: -16px;
        left: 16px;
        width: 100%;
        height: 100%;
      }

      @include minw($lg-custom) {
        top: 20px;
        left: -20px;
      }
    }

  }

  &__left {
    @include minw($mob-custom) {
      margin-bottom: 24px;
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
      align-items: start;
    }

    @include minw($lg-custom) {
      margin-top: -165px;
      margin-bottom: 0;
      flex-direction: row;
      justify-content: start;
      align-items: end;
      gap: 136px;

    }
  }

  &__order {
    order: 3;

    @include minw($mob-custom) {
      order: 0;
      font-size: 18px;
    }
  }

  &__img-right {
    @include minw($mob-custom) {
      margin-bottom: 54px;
      position: relative;
      margin-right: auto;
      max-width: 574px;
      width: 100%;

      img {
        position: relative;
        width: 100%;
        z-index: 2;
      }

      &:after {
        content: '';
        position: absolute;
        top: 30px;
        right: -30px;
        display: block;
        width: 100%;
        height: 100%;
        border: 1px solid #492D7A;


      }
    }

    &:after {
      @include minw($lg-custom) {
        top: -30px;
        left: -30px;
      }
    }

    @include minw($lg-custom) {
      max-width: 538px;
      margin-right: 0;
    }
  }

  &__btn {
    margin: 0 auto;
    font-size: 20px;

    @include minw($lg-custom) {
      margin-left: auto;
      margin-right: 210px;
    }
  }
}