@import "../core";

.header {
	padding: 21px 0;
	background-color: $colorText;

	&__inner {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 10px;
	}

	&__wrapper {
		display: flex;
		gap: 18px;
		align-items: center;
	}

	&__list {
		display: none;

		@include minw($lg-custom) {
			display: flex;
			gap: 18px;
		}

		li {
			padding: 10px 20px;

			a {
				color: white;
			}
		}
	}


	&__logo_mobile {
		@include minw($mob-custom) {
			display: none;
		}
	}

	&__logo_pc {
		display: none;

		@include minw($mob-custom) {
			display: block;
		}
	}

	&__btns {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 24px;

		@include minw($mob-custom) {
			gap: 30px;
		}
	}

	&__social {
		display: none;

		@include minw($mob-custom) {
			display: flex;
			align-items: center;
			gap: 15px;
		}
	}

	&__form-btn {
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: transparent;
		border: none;

		@include minw($mob-custom) {
			border: 1px solid #fafafa;
			border-radius: 4px;
			padding: 10px 20px;
			font-family: SfProRounded;
			font-size: 20px;
			font-weight: 400;
			line-height: 1.4;
		}

	}

	&__icon_pen {
		@include minw($mob-custom) {
			display: none;
		}
	}

	&__form-text {
		display: none;

		@include minw($mob-custom) {
			display: block;
			color: #fafafa;
			font-size: 20px;
		}
	}

	&__burger {

		background-color: transparent;
		border: none;

		@include minw($mob-custom) {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 64px;
			height: 44px;
		}

		@include minw($lg-custom) {
			display: none;
		}
	}
}