@import "../core";

.hero {
  padding-bottom: 20px;

  @include minw($mob-custom) {
    padding-bottom: 40px;
  }

  &__img {
    margin-bottom: 34px;
    position: relative;
    margin-left: auto;
    max-width: 338px;

    @include minw($mob-custom) {
      max-width: 583px;
      display: flex;
      justify-content: end;

      img {
        width: 100%;
      }
    }

    &:after {
      content: '';
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 18px;
      left: -18px;
      border: 1px solid black;
      z-index: -1;

      @include minw($mob-custom) {
        top: 20px;
        left: -20px;
      }
    }
  }

  &__title {
    margin-bottom: 16px;
    font-family: Alice, sans-serif;
    font-weight: 400;
    font-size: 22px;
    line-height: 1.4;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: $colorText;
    text-align: center;

    @include minw($mob-custom) {
      margin-bottom: 20px;
      font-size: 35px;
      text-align: left;
    }

    @include minw($lg-custom) {
      margin-top: 90px;
      font-size: 48px;
    }
  }

  &__info {
    @include minw($lg-custom) {
      max-width: 580px;
    }
  }

  &__text {
    margin-bottom: 32px;
    font-family: SfProRounded, sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.4;
    color: $colorText;

    @include minw($mob-custom) {
      margin-bottom: 40px;
      font-size: 30px;
    }

    @include minw($lg-custom) {
      margin-bottom: 70px;
      font-size: 35px;
    }
  }

  &__btn {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 32px;
    padding: 16px;
    display: block;
    max-width: 292px;
    width: 100%;
    font-family: SfProRounded, sans-serif;
    font-size: 20px;
    line-height: 1.4;
    text-transform: capitalize;
    color: $colorText;
    border-radius: 4px;
    background: #cfc2f2;

    @include minw($mob-custom) {
      margin-bottom: 40px;
    }

    @include minw($lg-custom) {
      font-size: 20px;
    }
  }

  &__helen {
    @include minw($lg-custom) {
      margin-bottom: 74px;
      display: flex;
      flex-direction: row-reverse;
    }
  }

  &__slogan-img {
    display: none;

    @include minw($lg-custom) {
      margin-left: 20px;
      position: relative;
      display: block;

      &:after {
        content: '';
        position: absolute;
        top: -20px;
        left: -20px;
        display: block;
        width: 100%;
        height: 100%;
        border: 1px solid #492d7a;
        z-index: -1;
      }
    }
  }

  &__slogan {



    @include minw($lg-custom) {
      margin-top: -180px;
      display: flex;
      align-items: end;
    }
  }

  &__slogan-text {
    font-family: SfProRounded, sans-serif;
    font-weight: 400;
    line-height: 1.5;
    text-align: right;
    color: $colorText;

    @include minw($mob-custom) {
      font-size: 20px;
    }

    @include minw($lg-custom) {
      margin-left: auto;
      max-width: 580px;
      font-size: 24px;
    }
  }
}