@import "../core";

.swiper {
	padding: 0 1.5rem!important;
	left: -1.5rem;
	width: calc(100% + 3rem);

	@include minw($sm-pc) {
		padding: 0!important;
		left: 0;
		width: 100%;
	}

	&-slide {
		background-color: #ddd;
		height: 20rem;
		padding: 2rem;

		@include maxw($sm-pc) {
			width: 30rem!important;
		}

	}
}

.slider {
	&__slide {
		background-color: #ddd;
		width: 100%;
		height: 20rem;
		border-radius: 2rem;
	}
}